<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <appender name="CONSOLE-JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames>
                <timestamp>@timestamp</timestamp>
                <version>[ignore]</version>
                <message>message</message>
                <logger>logger</logger>
                <level>level</level>
                <levelValue>[ignore]</levelValue>
                <stackTrace>stacktrace</stackTrace>
                <thread>thread</thread>
            </fieldNames>
        </encoder>
    </appender>

    <springProfile name="default">
        <root level="INFO">
            <appender-ref ref="CONSOLE-JSON" />
        </root>
    </springProfile>
    <springProfile name="!default">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>

        <logger name="org.springframework.security" level="DEBUG" />
    </springProfile>

</configuration>
